<!DOCTYPE html>
<html>
<head>
  <title>Pingpong</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.jsapplication" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


<!--

$('#target').click(function() {
  $("#form").hide()
});

	$(document).ready(function() {
	    $('#showHiddenBlock').click(function() {
	        $('#initiallyHiddenBlock').show();
    });
	});     &ndash;&gt;
	-->
